head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title= `${t("Prisme.ai - Password reset")}`

p= `Hi ${name},`
p= t("It seems that your forgot your password, no worries, it happens!")
p= `${t("Click here to change your password")} ${resetLink}`